//论坛默认样式

.bbs-wrap{
	background:url('http://ww1.sinaimg.cn/large/bcc700eegw1eicfycbdj6j21hc0u07qf.jpg') #f2f2f2 no-repeat center 0;
	padding:20px 0;

	#pt{
		background-color:rgba(255,255,255,0.5);
		border-radius:24px;
		margin-bottom:10px;
		padding:0 5px;
		.acolor(#333,#f39);
	}
}

.bbs-ct{
		box-shadow:0 0 4px #ddd;
		border:1px solid #ccc;
		padding:20px;
		background-color:#fff;
		width:@wp - 42px;
	}

//一键转载
.sppoll{
	.clear;
	border:1px dashed @bluex;
	padding:8px;
	background-color:@bg-blue;
	.gather_addr img{.none;}
}