/*
* DZ全局重置
* By iRuxu
*/



//forum页面
	.fl.bm{float:none;}
	.bmw{
		border:none;
	}



//按钮
	.pn,.tb .o,.tb .o a{
		background-image:none;
		.blue-btn;
	}


//面包屑
	//默认
	#pt{width:100%;margin:0 auto;.pr;}
	#nv_forum{background-color:#f2f2f2;}
	
	//专题单页
	.pg_topic,.pg_index,.pg_space,.pg_spacecp{
		#pt{
			width:@wp;margin:0 auto;background:none;border:none;border-bottom:1px dotted #ddd;
		}
	}
	//自适应
	.widthauto{
		#pt{
			width:98%;margin:10px auto;background:none;
			@pt:42px;
			line-height:@pt;height:@pt;border:none;border-bottom:1px dotted #ddd;
			.z{
				*{height:@pt;}
				.nvhm {background-position:0 5px;}
				em{background-position:0 15px;}
			}
		}
	}

//版主
	//版主
	.banzhu{
		.pa;right:2px;top:0;
		span{cursor:help;}
	}

//板块信息
	.mn{
		.bm.bml.pbn{.none;}
	}

//建议反馈
.list-help{
	margin-right:10px;
	//padding-left:26px;
	width:24px;height:24px;
	background:url('@{url}/bbs/bbs-list/list-help.png') no-repeat 0 -2px;
	.dbi;.y;
	&:hover{animation:goUp 0.3s ease-in;}
}