/*
* 动画文件
* By iRuxu
*/

//微信图标
@keyframes slideDown{
    from{
    	opacity:0;
    	transform:translate3D(0,-60%,0);
    }
    to{
    	opacity:1;
    	transform:translate3D(0,0,0);
    }
}

//导航图标
@keyframes navIcon{
	49%{transform:translateY(-50%)}
	50%{opacity:.3;transform:translateY(40%)}
	51%{opacity:1}
    100%{color:#00ccff;}
}

//搜索框
@keyframes goUp{
    49%{transform:translateY(-100%)}
    50%{opacity:.3;transform:translateY(40%)}
    51%{opacity:1}
}