/*
* 全局布局样式
* 全局变量声明
* By iRuxu
*/

//path路径
//--------------------------------------------------------
  @url:'http://static.jx3pve.com/cdn/img';
  @img:'http://static.jx3pve.com/cdn/img/common';
  @zt:'http://static.jx3pve.com/cdn/img/zt';
  @bps:'http://static.jx3pve.com/cdn/img/zt/bps';
  @index:'http://static.jx3pve.com/cdn/img/page/index';
  @bbs-view:'http://static.jx3pve.com/cdn/img/page/bbs-view';

//color颜色
//--------------------------------------------------------
  @blue:#00ccff; //主题蓝
  @bluex:#049abf; //靛蓝
  @bg-blue:#fafdff; //浅蓝背景
  @bo-blue:#cceafe; //边框浅蓝
  @dk-blue:#0064cd;
  @pink:#ff3399;
  @pup:#9933ff;

  a {outline:none;text-decoration:none;color:#444;}
  a:hover {color:@pink;text-decoration:none;}
  ::selection{background-color:#049abf;color:#fff;}

//color配色
//--------------------------------------------------------
  .blue1{background-color: #fafdff;border-color:#cceafe;color:#049abf;}
  .blue2{background-color: #e3f5ff;border-color:saturate(#c9eafd,50%);color:#049abf;}


//font
//--------------------------------------------------------
  @font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_1421243596_263323.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1421243596_263323.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1421243596_263323.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1421243596_263323.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1421243596_263323.svg#iconfont') format('svg'); /* iOS 4.1- */
  }

  @font-face {
    font-family: 'yhicon';
    src: url('http://at.alicdn.com/t/font_1421169244_920332.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1421169244_920332.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1421169244_920332.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1421169244_920332.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1421169244_920332.svg#iconfont') format('svg'); /* iOS 4.1- */
  }

  .iconfont{
    font-family:"iconfont";
  }

  .yhicon{
    font-family:"yhicon";
  }

  .iconfont,.yhicon{
  	font-style:normal; 
  	display:inline-block; 
  	-webkit-font-smoothing: antialiased; 
  	-webkit-text-stroke-width: 0.2px; 
  }



//Layout
//--------------------------------------------------------
  .box{
      margin-top:76px;
      transition:margin-top 0.4s;
    &.menufolder{
      margin-top:38px;
    }
  }

  //平铺背景层
  .wrap{

  }

  //背景层
  .main{

  }

  //中央控制包裹层
  .wp{
    width:1180px;
    margin:0 auto;
  }
  .widthauto{
    .wp{
      width:auto;
    }
  }

//size尺寸
//--------------------------------------------------------
  @header-height:38px;
  @wp:1180px;
  @primary:960px;
  @sd:200px;

//layout方案
//--------------------------------------------------------
  .col2-ct{width:960px;}
  .col2-sd{width:200px;}

