/*
* 论坛列表页公共
*/

#ct{
	//翻页
	#autopbn{
		.gray-btn;line-height:28px;text-shadow:1px 1px 0 #ddd;color:#444;margin-bottom:15px;
	}
}

#searhsort {
	//按钮所在block上边距
	.ptm{padding-top:0 !important;
		.pn{
			.gray-btn;
			padding:0;
			color:#666 !important;
			border-radius:3px;
			font-weight:normal !important;
			&:hover{
				box-shadow:0 0 4px #00ccff;
			}
		}
	}
	
	div {
		//输入框
		.vm{
			width:60%;
			border: 1px solid #ddd;
			background: none;
			border-radius: 4px;
			box-shadow: 0 0 4px #ddd inset;
			&:focus{
				box-shadow:0 0 4px #00ccff inset,0 0 2px #ddd;
			}
		}
	}
}


#threadlist{
	//列表表头
	.th{
		border:none;
		background-color:#f2f2f2;
		border-radius:36px;
		a{color:#555;}
		tr{
			td.num,td:last-child{
				.none;
			}
			td.by{
				.x(right);
			}
		}
	}
	//批量操作
	#mdly label{
		right:25px;bottom:15px;
		top:auto;
	}
	//内容列表
	.bm_c{
		.pr;
		table{
			table-layout: fixed;
			//每个帖子所在行包裹层
			tbody{
				//每个帖子所在行
				tr{
					//隐藏部分td
					td.icn,td.num,td:last-child{.none;}
					//认证图标
					td.by{
						width:180px;.x(right);.clip;
						a{margin-right:2px;}
					}
					//当前行hover
					&:hover{
						th,td{
							background-color:#f7f7f7;
						}
					}
					//头像
					.user-avt{
						img{.size(24px,24px);vertical-align: middle;border-radius: 4px;}
					}
					//页数
					th{
						.tps{
							.none;
						}
					}
				}
				//提示更新
				&#forumnewshow{
					display: block;
					position: absolute;
					top: 4px;
					width: 20%;
					left: 0;
					right: 0;
					margin: auto;
					a{
						border-radius: 6px;
						background-color: fade(#e3f5ff,50%);
						border-color:saturate(#c9eafd,50%);
						color:#049abf;
					}
				}
			} 
		} 
	}
}

/* 新版论坛
-------------------------------------------------------------- */ 
	#thread_types {padding-top:10px;}

	.bbs_ct #f_pst{border:1px solid #ddd;border-radius:4px;box-shadow:0 0 2px #ddd;}
	#f_pst .bm_h{background:#f9f9f9;border-bottom:1px solid #ddd;}


/*
	#ct.bbsnew{border-radius:4px;box-shadow:0 0 4px #ddd;}
	.bbsnew .plc .pi{}
	.bbsnew #modmenu{}
	.bbsnew  .pls.ptn.pbn{background:#474748;}
	.bbsnew  .plc.ptm.pbn.vwthd,.bbsnew .ad .pls, .bbsnew .ad .plc{background:#f9f9f9;}
	.bbsnew  .pls.favatar .pi{border-bottom:none;}
	.bbsdefault_ac{display:none;}
	.bbsnew #thread_types{display:block;}

	.bbsnew #ct.bbsview{border-radius:4px;background:#fff;box-shadow:4px 4px 0px #ddd;width:758px;border-top:1px solid #ddd;border-left:1px solid #ddd;}

	.bbs_ct .mn .fl_tb tr{height:80px;}
	.bbs_ct .mn .fl_tb tr.fl_row{border-top:1px dashed #ccc; }


	#mdly {position: absolute;right: 0;margin-top: -16px;padding: 10px 25px;width: 250px;height: 100px;background: url(jx3pve/bbs//mdly.png) no-repeat 0 0;line-height: 32px;overflow: hidden;}
	#mdly  h6{float:right;padding-right:20px;}


	.bbs_main{width:1040px;padding:20px 0;border-radius:4px;margin:0 auto;}
	.bbs_pie{background:#474748;color:#dcd9d9;height:30px;line-height:30px;padding:0 10px;border-top-left-radius:4px;border-top-right-radius:4px;letter-spacing:1px;}
	.bbs_pie em{padding:0 5px;}
	.bbs_pie a{color:#dcd9d9;}
	.bbs_pie a:hover{color:#ccc;}

	.bbs_ct{border-bottom-left-radius:4px;border-bottom-right-radius:4px;padding:20px;}
	.fl .bm_h{border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:20px 0;}
	.fl .bm_h h2 a{color:#555;}
	.fl .bm_h h2 a:hover{color:#615CFF;}
	td.fl_g dt{font-weight:bold;}
	td.fl_g dt a{color:#555;}
	td.fl_g dt a:hover{color:#615CFF;}
	.bbs_ct .bm_c .fl_by{display:none;}

	.bbs_main .bm_c .fl_tb{width:100%;}

	.tl .ts th, .tl .ts td {padding: 0 !important;border-bottom:none;background: #fff !important;}
	.bbs-hr{text-align:center;border-bottom:1px dashed #ccc;line-height:28px;font-weight:bold;}
	.bbs-hr a{color:#369;}

	.ttp a, .ttp strong {color:#666;float: left;margin-right: 5px;padding: 4px 8px 3px;height: 18px;border: 1px solid #777;background: #FFF;white-space: nowrap;}
	.ttp a:hover {border-color: #666;color: #444;text-decoration: none;}
	.ttp .a a {padding-right: 12px;padding-left: 12px;border-color: #000;background: #444;color: #ccc;}
	.ttp .a a:hover{background:#444;color:#ccc;}

	.bbs_ac{display:none;}
	.tl th, .tl td {border-bottom: 1px dotted #ccc;}

	td.vfhead{padding:10px;}
	#bbs-list-td1{width:80px;height:100px;overflow:hidden;white-space:nowrap;padding:10px;}
	.bbs-list-avt{float:left;}
	.bbs-list-avt img{width:48px;height:48px;border-radius:4px;}
	.bbs-list-author{float:left;overflow:hidden;white-space:nowrap;padding-left:6px;}
	.bbs-list-author a{padding-right:2px;}

	#bbs-list-td2{width:25px;}

	#bbs-list-td3{width:560px;}
	.bbs_listtitle{font-weight:bold;}
	.bbs_listtitle,.bbs-list-title a{font-size:16px;font-family: Helvetica,微软雅黑,宋体;color:#333;}
	.bbs-list-title a:hover{color:#ff0000 !important;}
	.bbs-list-title em,.bbs-list-title em a{color:#0b4f93!important;font-weight:bold;font-size:16px;}
	.bbs-list-title .showhide.y{display:none;}
	.bbs-list-title .tps a{padding-right:4px;color:#777;font-size:12px;}

	.bbs_tz_info li{list-style:none;}


	.hidebuttonX{height:6px;overflow:hidden;}
	.bbs-list-newopen{padding-left:20px !important;}
	.jx3bbs .bm.bml.pbn,.jx3bbs .bm.bmw.fl.flg{width:100%;}

	.tl th a:visited, .tl td.fn a:visited {color: #555;}
	.bbs-list-info{color:#777;}
	.bbs-list-info ul li{float:left;height:24px;line-height:24px;padding-right:20px;}
	.bbs-list-info-label{}
	.bbs-list-groupicon{position:relative;top:5px;}
	.grayfont,.grayfont a{color:#777 !important;}



	#bbs-list-td4{width:90px;}
	#bbs-list-td5{width:100px;}
	.bbs-list-author{display:none;}

	.jx3bbs .tl th, .jx3bbs .tl td {padding: 2px 0;}
	.jx3bbs #fontsearch th{padding-left:10px;}

	.bbs_page {background: #f2f2f2 url("http://ww1.sinaimg.cn/large/bcc700eegw1eicfycbdj6j21hc0u07qf.jpg") repeat-x top center;}


*/