/*
* 论坛-发帖
*/


//一键转载
	/*.tb.cl.mbw{margin-bottom:0px !Important;}
	.zhuanzai{background:#fafdff;border:1px dotted #aad3ea;padding:10px;height:25px;}
	.pbt.cl .z {background:url("http://static.jx3pve.com/cssjsimg/bbs/title.png") no-repeat left center;padding-left:80px;height:24px;}
	.pbt.cl .z input {width:600px !important;}*/

//分类信息
.exfm{
	background-color: fade(#E5EDF2,60%);
}


//编辑器宏标签
#e_cst1_macro{
	width:40px;height:40px;
}

#e_cst1_macro_menu{
	//left:50% !important;top:55% !important;
	width:600px !important;height:160px !important;
	.z(30) !important;
	
	.p_opt{
		#e_cst1_macro_param_1{
			height:60px;.y(top);
		}
		#e_cst1_macro_submit{
			width:160px;height:40px;margin-top:10px;
		}
	}
}