/*
* DZ全局重置
*/




.bmw{
	border:none;
}
//按钮
.pn{
	.blue-btn;
	background-image:none;
}


//forum页面
.fl.bm{float:none;}

//面包屑
	//默认
	#pt.bm.cl{width:@wp;margin:0 auto;}
	//自适应
	.widthauto{
		#pt.bm.cl{
			width:98%;margin:10px auto;
			@pt:42px;
			line-height:@pt;height:@pt;border-bottom:1px dotted #ddd;
			.z{
				*{height:@pt;}
				.nvhm {background-position:0 5px;}
				em{background-position:0 15px;}
			}
		}
	}

//板块信息
	.mn{
		.bm.bml.pbn{.none;}
	}
