/*Banner
* AD
*/

.banner{
	//.clip;
	&.s960-60{
		width:960px;height:60px;
	}
}


.macro{
	.top-banner{
		.pa;right:0;top:0;
	}
}

.post-mini-banner{
	.pa;top:55px;right:20px;
}



//超级宏
.yylmacro{
	.souhongbot,.souhongtop{
		width:960px;margin:0 auto;
	}
}
