<div class="primary">
	<div class="typeoption" style="float:left">
		<table cellpadding="0" cellspacing="0" class="cgtl mbm" style="">
			<caption>插件信息</caption>
			<tbody>
				<tr>
				<th>插件名称:</th>
				<td>{chajian2111_value}</td>
				</tr>

				<tr>
				<th>作者名称:</th>
				<td>{chajian2311_value}</td>
				</tr>

				<tr>
				<th>插件分类:</th>
				<td>{addonsort_value} </td>
				</tr>

				<tr>
				<th>更新日期:</th>
				<td>{chajian2511_value} </td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="info-sd">
		<img src="{chajian1112_value}" alt="预览图"/>

		<p class="honey">
			<a class="icon-support" href="{juanzhu_value}"><span>捐赠</span></a>
			<a class="icon-home" href="{snow5_value}"><span>微博</span></a>
			<a class="icon-top" href="home.php?mod=magic&amp;mid=stick&amp;idtype=tid&amp;id={vanfon_tid}" id="a_stick" onclick="showWindow(this.id, this.href)"><span>置顶</span></a>
			<a class="icon-color" href="home.php?mod=magic&amp;mid=highlight&amp;idtype=tid&amp;id={vanfon_tid}" id="a_stick" onclick="showWindow(this.id, this.href)"><span>高亮</span></a>
		</p>

	</div>

	<div class="bdsharebuttonbox">
		<a href="#" class="bds_more" data-cmd="more"></a>
		<a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
		<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
		<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		<a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
		<a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
	</div>
	<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
	</script>
</div>







<div class="star_primary">
<ul>
<li class="star_infox1"><span>适用门派：</span>{k_mp_value}</li>
<li class="star_infox2"><span>科技类型：</span>{k_type_value}</li>
<li class="star_infox3"><span>交流讨论：</span>{k_yyq_value}</li>
<li class="star_infox4"><span>私人定制：</span>{k_customize_value}</li>
</ul>
<div class="star_infoqc">
<div class="star_downx"><a href="{downurl_value}" title="快到碗里来&gt;_&lt;">立刻下载<br/><span>DOWNLOAD</span></a></div>

<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>




<div class="clear"></div>
</div>
<div class="clear">
<a href="http://www.pk200.com/music/competition/musicinfo" target="_blank" title="最好的专业游戏交易平台——用心服务!我们只做口碑"><img src="http://ww1.sinaimg.cn/large/bcc700eegw1enbocbifpmj20fa028aaz.jpg" /></a>
</div>
</div>