<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/pvx.css" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>

<div class="wrap pvx pet">
    <div class="main">
        <div class="wp">
            <!--wp-->
            <!--tab-->
            <div class="tab">
                <ul>
                    <li><a href=""><img src="../img/pvx/img/1.jpg"> <span class="aqua">水族</span></a></li>
                    <li><a href=""><img src="../img/pvx/img/2.jpg"> <span class="beast">走兽</span></a></li>
                    <li><a href=""><img src="../img/pvx/img/3.jpg"> <span class="bird">禽鸟</span></a></li>
                    <li><a href=""><img src="../img/pvx/img/4.jpg"> <span class="machine">机关</span></a></li>
                </ul>
            </div>
            <!--tab end-->
            <!--nav-->
            <div class="nav">
                <ul>
                    <li class="on"><a href="">宠物首页</a></li>
                    <li><a href="">世界奇遇</a></li>
                    <li><a href="">秘境奇遇</a></li>
                    <li><a href="">门派特有</a></li>
                    <li><a href="">节日活动</a></li>
                    <li><a href="">积分回馈</a></li>
                    <li><a href="">充值活动</a></li>
                    <li class="back"><a href="#">《 返回网站首页</a></li>
                </ul>
            </div>
            <!--nav end-->
            <!--pvx-cont-->
            <div class="pvx-cont pet-page">
                <!--cont-box-->
                <div class="cont-box">
                    <h1><span>灰狐</span><a href="">收藏</a></h1>
                    <!--h1 end-->
                    <div class="pet-box">
                        <img class="pet-img" src="../img/pvx/img/3.png">
                        <ul>
                            <li class="pet-name"><span><img
                                    src="http://static.jx3pve.com/data/attachment/forum/201407/18/175806gdqq4z4i4ffedsfd.png"></span><span
                                    class="zPetName">灰狐</span></li>
                            <li><b>种族：</b>走兽</li>
                            <li><b>获取途径：</b>世界奇遇</li>
                            <li><b>星级：</b><img src="http://static.jx3pve.com/cssjsimg/pet/pet_star5.png" height="14">
                            </li>
                            <li><b>分数：</b>62</li>
                            <li><b>描述：</b>毛绒绒的小狐狸，让人忍不住想摸一摸</li>
                            <li><b>来源地图：</b>有狐狸的地方</li>
                            <li><b>宠物技能：</b>舔爪子、飞扑</li>
                            <li><b>特殊说明：</b></li>
                            <li><b>抓宠助手：</b><a href=""> 【 + 点击下载 + 】</a></li>
                            <li class="pet-dw"><a class="editp" href="#">编辑</a> <span> |</span>

                                <div class="pet-share"></div>
                                <a class="pet_my" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <!--pet-box end-->
                    <div class="pet-cont">
                        <!--内容测试可删除-->
                      <p class="zdiy2000"><span>*</span>部分资料引自剑网3休闲联萌
                        </p>
                        <i class="pstatus"> 本帖最后由 心禅 于 2014-8-23 10:30 编辑 </i>
                        <!--内容测试可删除 end-->
                    </div>
                    <!--pet-cont end-->
                </div>
                <!--cont-box end-->
            </div>
            <!--pvx-cont pet-page end-->
            <!--wp end-->
        </div>
    </div>
</div>
</body>
</html>
