<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/pvx.css" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>

<div class="wrap pvx video">
    <div class="main">
        <div class="wp">
            <!--wp-->
            <!--tab-->
            <div class="tab">
                <ul>
                    <li><a href=""><img src="../img/pvx/img/1.jpg"> <span class="story">剧情</span></a></li>
                    <li><a href=""><img src="../img/pvx/img/2.jpg"> <span class="music">音乐</span></a></li>
                    <li><a href=""><img src="../img/pvx/img/3.jpg"> <span class="official">官方</span></a></li>
                    <li><a href=""><img src="../img/pvx/img/4.jpg"> <span class="other">其他</span></a></li>
                </ul>
            </div>
            <!--tab end-->
            <!--nav-->
            <div class="nav">
                <ul>
                    <li class="on"><a href="">视频首页</a></li>
                    <li><a href="">剧情视频</a></li>
                    <li><a href="">音乐视频</a></li>
                    <li><a href="">官方视频</a></li>
                    <li><a href="">其他视频</a></li>
                    <li><a href="">分享视频</a></li>
                    <li class="back"><a href="#">《 返回网站首页</a></li>
                </ul>
            </div>
            <!--nav end-->
            <!--pvx-cont-->
            <div class="pvx-cont">
                <!--cont-box-->
                <div class="cont-box">
                    <div class="ul-title"><span>剧情</span><b>STORY</b>
                        <hr>
                    </div>
                    <ul>
                        <li><a href=""><img src="../img/pvx/img/5.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/6.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/5.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/6.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/5.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/6.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                    </ul>
                    <!--第一栏end-->
                    <div class="ul-title"><span>剧情</span><b>STORY</b>
                        <hr>
                    </div>
                    <ul>
                        <li><a href=""><img src="../img/pvx/img/5.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/6.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/5.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/6.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/5.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                        <li><a href=""><img src="../img/pvx/img/6.jpg"></a><a
                                href=""><span>【逐虎驱狼】云裳心经英雄逐虎驱狼1-4全通文字解说·视频</span></a>
                        </li>
                    </ul>
                </div>
                <!--cont-box end-->
                <div class="turn-page">
                    <div class="page-list">
                        <a href="#" class="back"> 返回 </a>
                        <strong class="current">1</strong>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        ...
                        <a href="#">199</a>
                        <a href="#">200</a>
                        <a href="#" class="next">下一页 </a></div>
                </div>
            </div>
            <!--pvx-cont end-->
            <!--wp end-->
        </div>
    </div>
</div>
</body>
</html>
