<div class="wrap pvx">
    <div class="main face">
        {{import face_header}}
        <div class="wp">
            <div class="content">
					{{import post-primary}}
			</div>
		</div>
	</div>
</div>