<div class="face-view-primary">
	<div class="face_img"><img src="{faceshot_value}"></div>
	<div class="face_info">
		<ul>
			<li><span>脸型作者：</span>{faceauthor_value}</li>
			<li><span>所在区服：</span>{fuwuqi_value}</li>
			<li><span>下载次数：</span>{facedown_downloads}</li>
			<li><span>数据下载：</span><a href="{facedown_value}" class="face_btn">下载脸型数据</a></li>
			<li class="face_share"><span>分享扩散：</span>

			<!-- 分享代码 -->
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

			</li>
		</ul>
		<div class="face_intro">
		<h3>作者说明：</h3>
		{face_intro_value}
		</div>
	</div>
</div>