.pg_space,.pg_spacecp,.pg_guide,.pg_task{

	//避免消息贴边
    .box{
        padding:20px 0;
    }

	//去掉中央边框
	.ct2_a, .ct3_a{border:none;}

	//与分页拉开间距
	.xld{margin-bottom:10px;}



} 

.pg_guide,.pg_task{
	#pt{
		width:@wp;margin:0 auto;
		border-bottom:1px dotted #ddd;
		margin-bottom:10px;
	}
}