//侧边栏
.appl{

	h2.mt{
		margin-bottom:5px;
	}

	.tbn{
		.pr;

		#slide{
			.db;width:4px;height:33px;
			background-color:@basecolor;
			.pa;top:0;left:0;.z(-1);
			transition:0.3s ease-out;
		}

		ul{}

		li{
			border:none;//border-left:4px solid transparent;
			line-height:33px;
			margin:0;padding:0 10px;
			//line-height:24px;height:24px;margin:0 0 8px 0;
			&.a{
				//border-left: 4px solid #0088ff;
				background:none;
				margin:0;padding:0 10px;
				a{color:@basecolor;}//font-weight:normal;
			}
			&:hover{
				color:@basecolor;font-weight:bold;
				a{color:@basecolor;}
			}
		}

		#os-side-more{cursor:pointer;}

		.more{
			.none;
		}
	}


}